### BUSINESS UNDERSTANDING

To predict the percentage of a student based on the no. of study hours

In [1]:
#### Importing various libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
##loading the dataset
df=pd.read_csv('dataset.csv')
#previewing the head
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
# previewing the tail
df.tail()

    Hours  Scores
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [6]:
#checking the shape
print(f'This data has {df.shape[0]} rows and {df.shape[1]} columns')

This data has 25 rows and 2 columns

#### Data Understanding and preparation

In [12]:
class data_under(object):
    """Creating a class that will help us with data understanding"""
    def __init__(self):
        pass

    def missing_val(data):
        """A function that checks for missing values"""
        return data.isna().sum()

    def missing_perc(data):
        """A function that checks for percentage of missing values"""
        return df.isna().sum()/len(data)

    def duplicates(data):
        """A function that checks for duplicates"""
        return data.duplicated().sum()
        
    def val_counts(data,column):
        """A function that checks for  column value counts"""
        return data['column'].value_counts()

In [15]:

data_under=data_under
#check for missing values

data_under.missing_val(df)

Hours     0
Scores    0
dtype: int64